@media only screen and (max-width:480px){
     .info-standalone{
      display:block !important;
      margin-left: 32%;
     }
    }
html{
  width:100%;
  height: 100%;
}
body{
  background:linear-gradient(to right,rgba(255,160,0,.8), rgba(255,145,0,1));
  font-family: 'open sans', sans-serif !important;
  height:100%;
  width:100%;
}
#p1{
  height:190%;
  width:100%;
  padding-top: 2%;
}
.theme-font{
  color:white;
  font-weight: 100;
}
.big{
  position:relative;
  margin: 0 auto;
  margin-top:0;
  font-size:7.5vw;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 3px 3px 10px  rgba(40,20,0,.1);
  border-bottom:1px solid white;
}
#tagline{
  text-align: center;
  font-size:2.5vw;
  margin-top:50px;
  margin-bottom: 5%;
  opacity:0;
  color:white;
  text-shadow: 3px 3px 10px  rgba(40,20,0,.40);
}
#p1 > .big{
  margin-bottom: 2%;
}

#p2{
   height:100%;
  width:100%;
  position:absolute;
  left:0;
}
#info-wrapper{
  z-index: 20;
  margin:0;
  padding:0;
  opacity:0;
}
.info-row{
  height:50%;
  width:80%;
  margin-left: 18%;
  padding-top:0;
}
.info-standalone{
  background:rgba(240,240,240,1);
  width:25%;
  height:35vw;
  margin-right: 5%;
  padding: 0 1%;
  display:inline-block;
  vertical-align: top;
  border-radius: 10px;
  border: 1px solid rgba(150,132,107,.3);
}
.info-standalone:hover{
  background:rgba(255,237,180,.5);
}
.info-section{
  width: 80%;
  height:40% ;
  margin-bottom: 1%;
  margin-left:10%;
  border-bottom: 1px solid black;
  padding:0;
  overflow: hidden;
  display:inline-block;
}
#standalones{
  position: absolute;
  left:-100%;
  padding-left: 5% !important;
  width:90% !important;
  margin: 0 5% !important;
}
.standalone-subtext{
  text-align: center;
  color:rgba(255,145,0,1);
  display:inline;
  text-shadow:10px 10px 50px rgba(0,0,0,.5);
  font-size: 1.3vw;
}

.info-standalone > .info-heading{
  font-size:3vw !important;
}
.info-standalone > img{
  width:50%;
  padding-left: 25%;
  padding-top: 10%;
  margin:0;
  display: block;

}
.info-heading{
  text-align: center;
  font-size: 4vw;
  margin-bottom: 0;
  border-bottom: 0;
  color:#ff9100 ;
}
.info{
  font-size:1.5vw;
  text-align: center;
  color:black;
  text-shadow:5px 5px 5px rgba(0,0,0,.2);
}
#left-col{
  width:50%;
  height:100%;
  position:absolute;
  left:5%;
}
#right-col{
  width:50%;
  height:100%;
  position:absolute;
  right:5%;
}
#p3{
  width:100%;
  height: 100%;
  background-image: url('../img/store.jpg');
  background-size: 100% 100%;
  position: absolute;
  top:200%;
}

#p3 > .big
{
  border-bottom: none;
  text-transform: none;
  font-family: 'Alegreya Sans';
  color:white;
}
#preorder-wrapper{
  display:none;
}
#i-want-it{
  font-family: 'Alegreya Sans';
  background:rgba(255,145,0,.6);
  transition: all .7s linear;
  position: absolute;
  left:25%;
  width:50%;
  height:50%;
  cursor:pointer;
  top:20%;
}
.i-want-clicked{
  left:5% !important;  
  height:90% !important;
  width:90% !important;
  top:0 !important;
  transition:all .7s linear;
  background-color: rgba(255,255,255,.6) !important;
  cursor:inherit !important;

}
.i-want-clicked > .big{
  color:rgba(255,145,0,1) !important;
}
#i-want-it>.big{
  border:none;
  transition: all .7s linear;
  color:white;
  text-shadow: 0px 3px 20px  rgba(40,20,0,1);

}
#i-want-it>.big:hover{
  border:none;
  transition: all .7s linear;
}
#i-want-it:hover{
  transition: all .7s linear;
}
input[type="text"]
{
  width:30%;
  height:40px;
  border:0;
  box-shadow: 1px 1px 20px 1px rgba(0,0,0,.8);
  padding-left:10px;
  color:rgba(1,1,1,.6) !important;
  margin-left:35%;
  margin-top:10%;

}
*::-webkit-input-placeholder {
    font-size:1.1em;
}
*:-moz-placeholder {
    font-size:1.1em;
}
*::-moz-placeholder {
    font-size:1.1em;
}
*:-ms-input-placeholder {
    font-size:1.1em;
}
.bitcard-button{
  margin-left:10px;
  background-color: black;
  color:white;
  border:0;
  transition:all .3s linear; 
  width:80px;
  height:40px;
  border:0;
  display:none;
}

.bitcard-button:hover{
  background:linear-gradient(to right,rgba(255,160,0,.8), rgba(255,145,0,1));
}

/*start james's card stuff*/
#f1_container 
{
  position: relative;
  display:block;
  padding-top:50px;
  margin: 0px auto;
  width: 380px;
  height: 220px;
  z-index: 1; 
  perspective: 1000;
  opacity:0;

}

#f1_overlay
{
  z-index:10;
  background-color: blue;
}
.card
      {
        overflow:hidden;
        display: inline-block;
        width: 380px;
        height: 220px; 
        padding: 30px;
        position: relative;
        text-align: left;
        color: #fff; 
        border-radius: 15px;
        cursor: pointer;
      }
      
      .card-info { text-align: center; }
      .card input[type="text"]
      {
        width: 100%;
        border: none;
        background: #fafafa;
        padding: 3px 10px;
        border-radius: 13px;
        box-shadow: inset 0px 1px 3px rgba(0,0,0,.3);
      }
      .card .card-header
      {
        /*background-image:url(http://gobitcard.com/logo.png);*/
        text-transform: Uppercase;
        color: rgba(0,0,0,.6);
        font-weight: bold;
      }
      .card .card-numbers
      {
        display: block;
        margin-top: 50px;
        color: #fff;
        font-family: "Courier New";
        font-size: 26px; 
        text-shadow: 0px 2px 3px rgba(0,0,0,.3);
        text-align: left;
        line-height: 1em;
        margin-bottom: 34px;
      }
      
      .card .card-numbers.indented
      {
        margin-top: 75px;
        -webkit-transform: rotateY(-180deg);
        color: rgba(0,0,0,.3);
        font-weight: bold;
        text-shadow: 0px 2px 3px rgba(255,255,255,.3);
      }
      
      .card .card-name
      {
        display: block;
        margin-top: 10px;
        color: #fff;
        font-family: "Courier New";
        font-size: 22px; 
        text-shadow: 0px 1px 1px rgba(0,0,0,.3);
        text-align: right;
        margin-right:50px;
        line-height: 1em;
      }
      
      
      .card .card-numbers .subtitle
      {
        color: rgba(0,0,0,.5);
        font-family: Arial;
        text-shadow: none;
        font-size: 13px;
        margin: 0px;
        padding: 0px;
        line-height: 1em;
      }
      /*.jumbotron h1, .jumbotron h2
      {
        color: #fff;
        font-family: "Open Sans"; 
        font-weight: 300;
        text-shadow: 0 1px 2px rgba(0,0,0,.3);
      }*/
           }
      
      
      
      #f1_container 
      {
        position: relative;
        margin: 10px auto;
        width: 380px;
        height: 220px;
        z-index: 1; 
        perspective: 1000;
      }
      
      #f1_card {
        width: 100%;
        height: 100%;

        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;

        -webkit-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }
      
      #f1_container:hover #f1_card 
      {
        -webkit-transform:rotateY(180deg);
        -ms-transform:rotateY(180deg);
        transform:rotateY(180deg);
      }
      
      .face {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 15px;

        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -o-visibility: hidden;
      }
      
      .face.front 
      {
        background: url('http://gobitcard.com/Bitcoin-creditcard.png')#eee;
        -webkit-transform:rotateY(0deg);
        -ms-transform:rotateY(0deg);
        transform:rotateY(0deg);
      }
      
      .face.back
      { 
        -webkit-transform: rotateY(180deg);
        -ms-transform:rotateY(180deg);
        transform:rotateY(180deg);
        border-radius: 15px;
        background: #ccc;
      }

      #f1_container:hover .card-overlay.front
      {
        display: none;
      }
      
      #f1_container:hover .card-overlay.back
      {
        display: block;
      }
      
      #f1_container .card-overlay.back
      {
        display: none;
      }
      
      .card-overlay
      {
        position: absolute;
        left: 0px;
        width: 100%;
        overflow: visible;
        z-index: 10;
        display: block;
      }
      
      .card-bullet
      {
        position: absolute;
        width: 10%;
        border-bottom: solid 2px #fff;
        height: 0px;
        margin-top: 7px;
      }
      
      .card-bullet.left
      {
        left: 40%;
      }
      
      .card-bullet.right
      {
        left: 50%;
      }
      
      .card-bullet .bullet
      {
        position: absolute;
        display: block;
        padding: 5px;
        border-radius: 50%;
        background: rgba(0,0,0,.3);
        border: solid 1px #fff;
        box-shadow: 0px 1px 1px rgba(0,0,0,.6);
        margin-top: -5px;
      }
      
      .card-bullet.right .bullet
      {
        left: -11px;
      }
      
      .card-bullet.left .bullet
      { 
        right: -11px;
      }
      
      .card-bullet .label
      {
        font-size: 14px;
        line-height: 1.2em;
        position: absolute;
        margin-top: -10px;
        font-weight: 100;
        text-align: right;
      }
      
      .card-bullet.left .label
      { 
        right: 110%;
      }
      
      .card-bullet.right .label
      {
        left: 110%; 
      }
      
      .card-bullet:before
      {
        content: '';
        position: absolute;
        top: -1px;
        border: solid 2px #fff;
        border-radius: 2px;
        width: 1px;
        height: 1px;
        display: block;
      }
      
      .card-bullet.right:before
      {
        right: -2px;
      }
      
      .card-bullet.left:before
      {
        left: -2px;
      }
      
      .card-signature
      {
        width: 230px;
        height: 40px;
        background: #fff;
        font-size: 30px;
        color: #000;
        font-family: 'Herr Von Muellerhoff', cursive;
        text-indent: 10px;
      }

      /* NEW INFO FOR FORM */

